<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Question Poll</h1>
      <p>Vote for the question you like more. Vote for the question you'd like to ask</p>
      <p>Did not find the question you are interested? Ask your question!</p>
      <p><a class="btn btn-primary btn-lg" role="button" routerLink="/how-it-works">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>Today's Topics</h2>
        <p>Browse for the topics you are interested and try to find questions already asked which you'd like to ask and vote. Your voice is valuable</p>
        <p><button class="btn btn-success" role="button" routerLink="/question-poll">Vote For Question</button></p>
      </div>
      <div class="col-md-4">
        <h2>See Infographic</h2>
        <p>We combined different points of interests and grouped them the way that may bring additional value</p>
        <p><button class="btn btn-warning" role="button" disabled>View details &raquo;</button></p>
      </div>
      <div class="col-md-4">
        <h2>About</h2>
        <p>This application is created based on the request to ask questions to the specified person or subject and be able to determine top popular questions</p>
        <p><button class="btn btn-primary" role="button" disabled>View details &raquo;</button></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Arsen Movsesyan {{ thisYear }}</p>
</footer>

